body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    
}

.topnav {
    background-color: #000000;
    overflow: hidden;
}

.topnav a {
    float: right;
    color: #ffffff;
    text-align: center;
    padding: 22px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ffffff;
    color: black;
}

.topnav a.active {
    background-color: #000000;
    color: rgb(0, 0, 0);
}

.topnav .logo {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 16px;
    padding: 10px;
}

.banner-img {
    border: solid;
    height: 500px;
    margin: 20px;
    text-align: center;
    align-content: center;
}

.profile-content {
    border: solid;
    height: 500px;
    margin: 20px;
    text-align: center;
    align-content: center;
}
.achievement-content {
    border: solid;
    height: 500px;
    margin: 20px;
    text-align: center;
    align-content: center;
}
.massage-content {
    border: solid;
    height: 500px;
    margin: 20px;
    text-align: center;
    align-content: center;
}
footer {
    text-align: center;
    align-content: center;
    background-color: #000000;
    color: #ffffff;
}

#home {
    margin: 10px;
}

#profile {
    margin: 10px;
}

#achievement {
    margin: 10px;
}

#massage-me {
    margin: 10px;
}